body {
	padding: 50px;
}

ul {
	display: block;
	height: 150px;
	width: 400px;
	padding: 5px;
	margin: 0 auto;
}

ul li {
  list-style: none;
}

.menu {
	border-radius: 20px 20px 20px 20px;
	background: #5282E1;
}

li a {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	padding: 8px;
	background-color: #5282E1;
	color: #F7F7F7;
  text-decoration: none;
	border: 12px;
}

p {
  text-align: center;
}

li a:hover {
	background-color: #F7F7F7;
	color: #222;
	border-radius: 20px 20px 20px 20px;
	cursor: pointer;
}

.image {
	max-width: 300px;
	text-align: center;
	padding: 15px;
}
